{% extends "team/base.html" %}      

{% block content %}                       
<h2>Roster Move for {{ team.name }} ({{ selected_season }}, Week {{ selected_week }})</h2>
            

<form method="post" action=".">   

{% if form.has_errors %}
<p class="errornote">Please correct the error{{ form.error_dict|pluralize }} below.</p>
{% endif %}       
             
<ul>
<li>DROP: {{ roster_drop.player.name }} ({{ roster_drop.player.position }}, {{ roster_drop.player.team.long_name }})<br />  
<li>PICKUP: {% if form.pickup.errors %}<div class="error">{{ form.pickup }} {{ form.pickup.errors|join:", " }}</div>{% else %}{{ form.pickup }}{% endif %}

</ul>

<input type="submit" value="Submit"/>        
</form>

{% endblock %}            

{% block sidebar %}
{% endblock %}   
