{% extends "ncf/base.html" %} 

{% block content %}                       
<h2>NCAA Football Home</h2>        

Progress so far:  
<ul>                 
<li><a href="/ncf/conferences">NCAA Conference Index</a> kind of works</li>
<li><a href="/ncf/teams">NCAA Team Index</a> kind of works, although there are some missing Division II teams</li>
<li><a href="/ncf/team/147/roster/">Roster pages</a> are uploaded with 2005 and 2006 data from ncaa.org. 
<li><a href="/ncf/team/415/schedule/">Schedule pages</a> are up n' running with 2005 and 2006 data.
</ul>

{% endblock %}
                             
{% block sidebar %}
{% endblock %}